<html>
    <head>
         {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/pdf.css') }}">
            <base href="http://{{app.request.host}}">
            <meta charset="UTF-8" >
			 <style>
				 table.header,table.accroche{border:none}
				 table.body{width:100%;border-top: 1px #000 solid; border-bottom: none;border-right:none;border-left:none}
				 table.body td:first-child{border-right: 1px #000 solid;}table.body td{width: 50%}
				 .padding-left{padding-left:15px}
				  p,span {font-size:12px;line-height: 8px}p.title{font-size:16px;line-height: 10px}
				 .margin-left{margin-left: 90px}
				 table.facture{border-collapse: collapse;}table.facture,.facture td{ border: 1px solid black;font-size:10px}
				 .facture td:first-child{width:10%!important;}
				 .facture td:nth-child(2){width:10%!important;}
				 .facture td:nth-child(3){width:10%!important;}
				 .facture td:nth-child(4){width:20%!important;}
				 .facture td:nth-child(5){width:25%!important;}
				 .facture td:nth-child(6){width:25%!important;}
				 .facture td{padding:5px;font-weight:200;}
				 .dateKm {border-collapse: collapse;width:100% !important;border-top:1px solid #B8B8B8}
				 .dateKm td {width:50% !important;}
				 .dateKm tr:first-child td:first-child{border-right:1px solid #B8B8B8;}
				 .dateKm tr:nth-child(2) td:first-child{border-right:1px solid #B8B8B8}
				 .dateKm tr:first-child td{border-bottom:1px solid #B8B8B8}
				 p.reg{font-size:14px;line-height:15px}


			 </style>
        {% endblock %}
    </head>
    <body>
        {% block header %}
			<table class="header">
				<tr>
					<td>

					</td>
					<td>
						<figure>
						<img src="{{ absolute_url(asset('bundles/app/img/logo-car.png')) }}"/>
						</figure>

					</td>
				</tr>
			</table>

        {% endblock %}
 
        {% block content %}
			<table width="100%" class="accroche">
				<thead> <!-- En-tête du tableau -->
				   <tr>
					   <th>	<h3>Contrat de location : {{ contrat.numContrat }} </h3> </th>
					   <th>	<h4>Oujda, le {{ contrat.dateCreated|date() }}</h4> </th>
				   </tr>
			   </thead>
			</table>
			<table class="body">
				<tr>
					<td>
						<center>
							<p class="title">LOCATAIRE</p>
							<span>Nom et prénom ou Raison Sociale</span>
						</center>
						<p>{{ contrat.locataire.nom }}</p>
						<p>{{ contrat.locataire.prenom }}</p>
						<p>{{ contrat.locataire.raisonSociale }}</p>
						<hr>
						<p>Adresse au Maroc: {{ contrat.locataire.adresseMaroc }}</p>
						<hr>
						<p>Adresse à l'étranger: {{ contrat.locataire.adresseEtranger }}</p>
						<hr>
						<p>Nationalité: {{ contrat.locataire.nationalite }}</p>
						<hr>
						<p>Tél: {{ contrat.locataire.phone }}</p>
						<hr>
							<p>
								CIN N°: {{ contrat.locataire.cIN }}
								<span class="margin-left">Délivré le : {{ contrat.locataire.delivrance|date('d-m-Y') }}</span>
							</p>
							<p>Passeport N°: {{ contrat.locataire.numPasseport }} </p>
							<p>Profession: {{ contrat.locataire.profession }} </p>
							<p>Permis de conduite: {{ contrat.locataire.permis }} </p>
						<hr>
						<center>
							<p class="title">Deuxième Chauffeur</p>
						</center>
						<p>Nom, prénom: {{ contrat.nomSecond }} </p>
						<p>CIN: {{ contrat.cinSecond }} </p>
						<p>Permis de conduite: {{ contrat.permisSecond }} </p>
						<hr>
						<p class="title">Facture</p>
						<table class="facture">
								<tr>
									<td>Nombre</td>
									<td>Jour</td>
									<td>Mois</td>
									<td>Heures supplém</td>
									<td>Prix unit</td>
									<td>Total T.T.C</td>
								</tr>
								<tr> <td></td><td></td><td></td><td></td><td></td><td></td></tr>
								<tr> <td></td><td></td><td></td><td></td><td></td><td></td></tr>

						</table>
						<br/>

						<p> Frais de remise:</p>
						<p> Lieu:</p>
						<p> Carburant:</p>
						<p> Diverses:</p>
						<p> Kilométrage:</p>

						<br/>
						<p class="margin-left"> Total TTC à payer: {{  contrat.totalTccApayer  }}</p>



					</td>
					<td>
						<center>
							<p class="title">VEHICULE</p>
						</center>
						<div class="padding-left">
							<p> Marque: {{ contrat.vehicule.marque }}</p>
							<p> N de matricule: {{ contrat.vehicule.matricule }}</p>
							<p> Carburant: {{ contrat.vehicule.carburant }}</p>
						</div>
						<hr>
						<center>
							<p class="title">Equipement et Accessoires</p>
						</center>
						<div class="padding-left">
							{% for eq in contrat.vehicule.equipements %}
								<p>{{ eq.nom }}</p>
							{% endfor %}
						</div>
						<br/>
						<table class="dateKm">
							<tr>
								<td>
									<center> Date Départ </center>
									<p> <center> {{ contrat.dateDepart|date('d-m-Y') }} </center></p>

								</td>
								<td>
									<center> Date Retour </center>
									<p><center> {{ contrat.dateRetour|date('d-m-Y') }} </center></p>
								</td>
							</tr>
							<tr>
								<td>
									<center> Km Départ </center>
									<p> <center> {{ contrat.departKm }} </center></p>

								</td>
								<td>
									<center> Km Retour </center>
									<p> <center>{{ contrat.retourKm }} </center></p>
								</td>

							</tr>
						</table>
						<br/>
						<hr>
						<center>
							<p class="title">Date de Retour prévu</p>
						</center>
						<p><center> {{ contrat.dateRetourPrevu|date('d-m-Y') }} </center></p>
						<hr>
						<br/>
							<p>Assurance avec Franchise: {{ contrat.assuranceAvFranchise }} </p>
						<hr>
						<center> Locataire </center>
						<p class="reg padding-left">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							J'ai compris et j'accepte les termes et conditions imprimées sur les deux faces
							de ce contrat de location. je suis responsable des violations de la loi de circulations
							routières et leurs conséquences éventielles .
						</p>
						<p class="reg padding-left"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Lu et Approuvé le: </p>
						<p class="reg padding-left"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Signature: </p>






					</td>
				</tr>

			</table>
					





        {% endblock %}
 
    </body>
</html>